<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('Account')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<section class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="masthead vh-100 justify-content-center">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
                <h2 class="text-center text-gray-900 font-weight-bold">Account Information</h2>
                <br/>
                <div>
                    <img th:src="${image != 'assets/img/default-user.jpg' ? image : '/assets/img/default-user.jpg'}"
                         alt="Profile Photo"
                         width="150"
                         onclick="openFilePicker()"
                         style="cursor: pointer;" />
                </div>


                <form id="profileForm" th:action="@{/auth/account/upload}" method="post" enctype="multipart/form-data">
                    <input type="file" id="profileImageInput" name="profileImage" accept="image/*" style="display: none;" onchange="handleFileSelection()" />
                </form>


                <div th:if="${error}">
                    <p class="error" th:text="${error}"></p>
                </div>

                <br/>
                
                <h4 class="text-gray-900 font-weight-bold">First Name</h4>
                <p th:text="${user.firstName}">First Name</p>
                <br/>
                <h4 class="text-gray-900 font-weight-bold">Last Name</h4>
                <p th:text="${user.lastName}">Last Name</p>
                <br/>
                <h4 class="text-gray-900 font-weight-bold">Username</h4>
                <p th:text="${user.username}">Username</p>
                <br/>
                <h4 class="text-gray-900 font-weight-bold">Email</h4>
                <p th:text="${user.email}">Email</p>
                <br/>
                <h4 class="text-gray-900 font-weight-bold">Phone number</h4>
                <p th:text="${user.phone}">Phone number</p>
                <br/>

                <a class="btn btn-primary" th:href="@{/auth/account/update}">Update</a>
                <a class="btn btn-danger" th:href="@{/auth/account/delete}">Delete</a>
            </div>
        </div>
    </div>
</section>
<br/><br/><br/><br/>
<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>

</body>
</html>