<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('Login')}"></head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<section class="container-fluid d-flex align-items-center justify-content-center">
    <div class="masthead justify-content-center">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
                <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">

                    <h2 class="text-center text-gray-900 font-weight-bold">My Account</h2>

                    <div th:if="${#fields.hasErrors() and login.username!='' and login.password!=''}">
                        <p class="error">Wrong username or password!</p>
                    </div>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Username</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{username}" placeholder="Enter Username">
                    </div>
                    <label class="error" th:errors="*{username}">Username error</label>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Password</label>
                        <input type="password" class="form-control form-control-user"
                               th:field="*{password}" placeholder="Enter Password">
                    </div>
                    <label class="error" th:errors="*{password}">Password error</label>
                    <br/><br/>

                    <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>

</body>
</html>