<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('Mail Exception')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<div class="access-denied-container">
    <h1 class="access-denied-title">Email Not Verified</h1>
    <p class="access-denied-message">Please verify your email to use your account!</p>


    <div>
        <a class="btn btn-primary" href="/" th:href="@{/}">Go Back Home</a>
    </div>

</div>
<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>
</body>
</html>