<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('No Cards')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<div class="access-denied-container">
  <h1 class="access-denied-title">Card Missing!</h1>
  <p class="fieldName">Oops! The card number you're inputting doesn't match a card associated with your account!</p>

  <div th:if="${isAuthenticated}">
    <a class="btn btn-primary" href="/" th:href="@{/auth/account/cards/new}">Add Card</a>
  </div>
</div>
<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>
</body>
</html>