<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('Email Verification')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<div class="access-denied-container">
    <h1 class="access-denied-title">Transaction verified!</h1>
    <a class="btn btn-primary" href="/auth/login" th:href="@{/}">Home</a>
</div>
<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>
</body>
</html>