<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('Transactions')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>
<br/><br/>
<header class="masthead">
    <div class="container">
        <div class="access-denied-title">Transactions</div>
    </div>
</header>


<h1 class="text-center">Filter Transactions</h1>

<form class="text-center" action="/transactions/all" method="get">
    <label class="text-gray-900 font-weight-bold" for="recipient">Recipient Username:</label>
    <input type="text" id="recipient" name="recipient" th:value="*{recipient}" placeholder="Enter username"/>

    <label class="text-gray-900 font-weight-bold" for="minDate">Start Date:</label>
    <input type="datetime-local" id="minDate" name="startDate" th:value="*{startDate}" />

    <label class="text-gray-900 font-weight-bold" for="maxDate">End Date:</label>
    <input type="datetime-local" id="maxDate" name="endDate" th:value="*{endDate}" />

    <label class="text-gray-900 font-weight-bold" for="isIncoming">Is Incoming:</label>
    <select id="isIncoming" name="isIncoming" th:value="*{isIncoming}">
        <option value="">Any</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <label class="text-gray-900 font-weight-bold" for="sortBy">Sort By:</label>
    <select id="sortBy" name="sortBy" th:value="*{sortBy}">
        <option value="amount">Amount</option>
        <option value="date">Date</option>
    </select>

    //асцендинг/десцендинг

    <button class="btn btn-primary" type="submit">Filter</button>
</form>

<h2 class="text-center">Transaction Results</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div th:each="transaction : ${transactions}" class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card shadow border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Transaction ID: <span th:text="${transaction.getId()}"></span></h5>
                    <p class="card-text"><strong>Sender full name:</strong> <span th:text="${transaction.sender.username}"></span></p>
                    <p class="card-text"><strong>Recipient full name:</strong> <span th:text="${transaction.recipient.username}"></span></p>
                    <p class="card-text"><strong>Amount:</strong> <span th:text="${transaction.amount}"></span></p>
                    <p class="card-text"><strong>Date:</strong> <span th:text="${transaction.createdAt}"></span></p>
                    <p class="card-text"><strong>Status:</strong> <span th:text="${transaction.status}"></span></p>

<!--                    <div class="d-flex justify-content-center gap-2">-->
<!--                        <form>-->
<!--                            <a th:href="@{/auth/delete/{id}(id=${card.getId()})}"-->
<!--                               type="submit" class="btn btn-danger btn-danger:hover">Delete Card</a>-->
<!--                        </form>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>

</body>
</html>