<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('Update')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<section class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="masthead vh-100 justify-content-center">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
                <form action="#" th:action="@{/auth/account/update}" th:object="${user}" method="post">

                    <h2 class="text-center text-gray-900 font-weight-bold">Update an Account</h2>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">First name</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{firstName}" placeholder="Enter First name">
                    </div>
                    <label class="error" th:if="${#fields.hasErrors()} and ${register.firstName == null or
                    register.firstName.isEmpty()}">
                        First name can't be empty
                    </label>
                    <label class="error" th:if="${#fields.hasErrors()} and ${not #strings.isEmpty(register.firstName)}">
                        First name must be between 1 and 16 characters.
                    </label>
                    <br/><br/>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Last name</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{lastName}" placeholder="Enter Last name">
                    </div>
                    <label class="error"
                           th:if="${#fields.hasErrors()} and ${register.lastName == null or register.lastName.isEmpty()}">
                        Last name can't be empty.
                    </label>
                    <label class="error" th:if="${#fields.hasErrors()} and ${not #strings.isEmpty(register.lastName)}">
                        Last name must be between 1 and 16 characters.
                    </label>
                    <br/><br/>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Username</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{username}" placeholder="Enter Username">
                    </div>
                    <label class="error"
                           th:if="${#fields.hasErrors()} and ${register.username == null or register.username.isEmpty()}">
                        Username can't be empty.
                    </label>
                    <label class="error" th:if="${#fields.hasErrors()} and ${not #strings.isEmpty(register.username)}">
                        Username must be between 2 and 20 symbols.
                    </label>
                    <br/><br/>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Password</label>
                        <input type="password" class="form-control form-control-user"
                               th:field="*{password}" placeholder="Enter Password">
                    </div>
                    <label class="error" th:if="${#fields.hasErrors()} and ${register.password == null or
                    register.password.isEmpty()}">
                        Password can't be empty.
                    </label>
                    <label class="error" th:if="${#fields.hasErrors()} and ${register.password.length() < 8 and
                    register.password != null and not register.password.isEmpty()}">
                        Password must be at least 8 symbols long.
                    </label>
                    <label class="error"
                           th:if="${#fields.hasErrors('password') and register.password != null and register.password.length() >= 8}">
                        Password must contain at least one uppercase letter, one digit, and one special character.
                    </label>
                    <br/><br/>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Email</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{email}" placeholder="Enter Email">
                    </div>
                    <label class="error" th:errors="*{email}">Email Error</label>
                    <br/><br/>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Phone Number</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{phoneNumber}" placeholder="Enter Phone Number">
                    </div>
                    <label class="error"
                           th:if="${#fields.hasErrors()} and ${register.phoneNumber == null or register.phoneNumber.isEmpty()}">
                        Phone number can't be empty.
                    </label>
                    <label class="error" th:if="${#fields.hasErrors()} and ${not #strings.isEmpty(register.phoneNumber)}">
                        Phone number must be exactly 10 digits
                    </label>
                    <br/><br/>

                    <input class="btn btn-primary" type="submit" value="Update"/>
                </form>
            </div>
        </div>
    </div>
</section>


<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>

</body>
</html>