<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('Update')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<section class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="masthead vh-100 justify-content-center">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
                <form action="#" th:action="@{/auth/account/update}" th:object="${user}" method="post">

                    <h2 class="text-center text-gray-900 font-weight-bold">Update an Account</h2>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">First name</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{firstName}">
                    </div>
                    <label class="error" th:if="${#fields.hasErrors('firstName')}"
                           th:text="${#fields.errors('firstName')[0]}"></label>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Last name</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{lastName}">
                    </div>
                    <label class="error" th:if="${#fields.hasErrors('lastName')}"
                           th:text="${#fields.errors('lastName')[0]}"></label>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Password</label>
                        <input type="password" class="form-control form-control-user"
                               th:field="*{password}">
                    </div>
                    <label class="error" th:if="${#fields.hasErrors('password')}"
                           th:text="${#fields.errors('password')[0]}"></label>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Email</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{email}">
                    </div>
                    <label class="error" th:errors="*{email}">Email Error</label>

                    <div class="form-group">
                        <label class="text-gray-900 font-weight-bold">Phone Number</label>
                        <input type="text" class="form-control form-control-user"
                               th:field="*{phone}">
                    </div>
                    <label class="error" th:if="${#fields.hasErrors('phone')}"
                           th:text="${#fields.errors('phone')[0]}"></label>
                    <br/><br/>

                    <input class="btn btn-primary" type="submit" value="Update"/>
                </form>
            </div>
        </div>
    </div>
</section>


<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>

</body>
</html>