<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout.html :: head('Cards')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>
<br/><br/>
<header class="masthead">
    <div class="container">
        <div class="access-denied-title">Here are your available cards!</div>
    </div>
</header>


<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Loop through each card -->
        <div th:each="card : ${cards}" class="col-md-4 mb-4">
            <div class="credit-card position-relative">
                <!-- Close Icon -->
                <form style="position: absolute; top: 10px; right: 10px;">
                    <a th:href="@{/auth/delete/card/{id}(id=${card.getId()})}"
                              type="submit" class="btn-close text-white"></a>
                </form>

                <!-- Card Content -->
                <div>
                    <span class="bank-name">FlowPay</span>
                </div>
                <div th:text="${card.getCardNumber()}" class="card-number">
                    **** **** **** 1234
                </div>
                <div class="d-flex justify-content-between">
                    <!-- Cardholder Name -->
                    <div class="card-details">
                        <span class="label">Cardholder Name</span>
                        <span th:text="${card.getCardHolder()}" class="value">John Doe</span>
                    </div>
                    <!-- Expiry Date -->
                    <div class="card-details">
                        <span class="label">Expiry Date</span>
                        <span th:text="${card.getExpirationDate()}" class="value">12/25</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${cards.size() == 0}" class="container mt-5">
    <br/><br/><br/><br/><br/><br/><br/>
</div>

<br/><br/><br/><br/><br/>
<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>

</body>
</html>