<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Transaction</title>
</head>
<body>
<div class="container">
    <div style="color: #007bff;" class="header">Verify Transaction - Virtual Wallet</div>
    <p style="color: black;" class="message">Click the button below to verify the transaction:</p>
    <a style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; font-size: 16px; border-radius: 5px;"
       href="http://localhost:3308/auth/verify?token={YOUR-TOKEN}">Verify Transaction</a>
</div>
</body>
</html>
